@model prjMSIT145_Final.Models.NormalMember

@{
    ViewData["Title"] = "combineaccount";
}

@section Styles{

    <link rel="stylesheet" href="~/css/Customer_css/combineaccount.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />
    <link rel="stylesheet" href="~/css/Customer_css/CBSonlyClass.css" />

}
<form asp-action="combineaccount" id="combineaccountid" name="combineaccountname">
        <div class="wrap">
    <div class="card3">
    <div class="card30">
            <h2 class="title2">輸入正確帳號密碼已整合帳號</h2>
            <span id="spanresponse" class="spanresponseclass"></span>
        <input type="hidden" name="LineUserid" value="@Model.LineUserid"/>
        <input type="hidden" name="GoogleEmail" value="@Model.GoogleEmail" />
        <span class="text3">
            <p class="color">*</p>
            <p class="text4">手機號碼<span class="necessspan">(必填)</span><span class="Formatspan">(台灣手機號碼)</span></p>
        </span>

        <div class="divhint">
            <div class="div1">
                <input type="text" class="input" name="Phone" value="@Model.Phone" id="Phone" />
            </div>
            <span id="phonecorrect" class="spanerrormessage"></span>
        </div>
        <span class="text3">
            <p class="color">*</p>
            <p class="text4">密碼<span class="necessspan">(必填)</span><span class="Formatspan">(大小寫英文加4個數字)</span></p>
        </span>

        <div class="divhint">
            <div class="div1">
                <input type="password" class="input" name="Password" value="@Model.Password" id="Password" />
                <i style="margin-top:10px;margin-left:-20px;" class="far fa-eye" id="togglePassword"></i>
            </div>
            <span id="passwordcorrect" class="spanerrormessage"></span>
        </div>

        <div class="display">
                        <input id="submitid" type="submit"  class="enter" value="確認" />

        </div>
                    <input type="button" class="democorrect" id="democorrectid" value="" />
                    <input type="button" class="demoerror" id="demoerrorid" value="" />

    </div>
        </div>
        </div>


    </form>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        
        
        const passwordicon = document.querySelector("#togglePassword");                 //顯示密碼
        const password = document.querySelector("#Password");

        passwordicon.addEventListener("click", () => {

            const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
            password.setAttribute('type', type);

            passwordicon.classList.toggle('fa-eye-slash');
        });


        document.getElementById("submitid").addEventListener('click', async()=>{

            event.preventDefault();
            let formdata = new FormData(document.combineaccountname);

            const request = await fetch(`@Url.Content("~/CustomerMember/combineapi")`, {

                body: formdata,
                method: "Post",

            })
            const data = await request.json();
            console.log(data);
            if (data == "帳號或密碼有錯") {
                document.getElementById("spanresponse").innerHTML = data;
                return;
            }
           
            else if (data == "整合成功") {
                document.getElementById("spanresponse").innerHTML = "";
                document.getElementById("combineaccountid").submit();
                alert("整合成功");
                return;
            }
            else {
                document.getElementById("spanresponse").innerHTML = data;
                return;
            }
      
      });

        document.getElementById("democorrectid").addEventListener('click', () => {
      
            document.getElementById("Phone").value = "0936212575";         
            document.getElementById("Password").value = "aA123456";

        });

        document.getElementById("demoerrorid").addEventListener('click', () => {
           
            document.getElementById("Phone").value = "0933333333";
            document.getElementById("Password").value = "A123456";
           
            



        });















    </script>
}
