@model prjMSIT145_Final.Models.NormalMember

@{
    ViewData["Title"] = "Emailcheck";
}
     @section Styles{
    <link rel="stylesheet" href="~/css/Customer_css/Emailcheck.css">


     }



<div class="wrap">

        <form asp-action="Emailcheck" name="Emailcheck" id="Emailcheck">
         <div class="cardcontent">
            <input type="hidden"name="Fid"value="@Model.Fid" />
    
            <div class="h1div">
            <h1>會員驗證信</h1>
            </div>
            <div class="pdiv">
            <p>請輸入正確驗證碼</p>
            </div>
            <div class="emaildiv">
            <input type="text" class="inputclass" name="EmailCertified"/>
            </div>
            <div class="subdiv">
                <input type="submit"  id="submitid" value="確定" class="submitbtn" />
            </div>
        </div>
        </form>
    
    </div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        
        document.getElementById("submitid").addEventListener('click',async ()=> {
            event.preventDefault();

            let formdata = new FormData(document.Emailcheck);
            const request = await fetch(`@Url.Content("~/CustomerMember/Emailcheckword")`,{
                body:formdata,
                method:"Post",

            })
            const data = await request.json();
            console.log(data);
            if(data==""){
                alert("已開通會員資格");
                document.getElementById("Emailcheck").submit();
                
            }
            else{
                alert(data);
                return;
            }

        });


    </script>
}
