@model prjMSIT145_Final.Models.NormalMember

@{
    ViewData["Title"] = "Emailcheck";
}
     @section Styles{
    <link rel="stylesheet" href="~/css/Customer_css/Emailcheck.css">


     }



<div class="wrap">
   
        <form asp-action="Emailcheck">
         <div class="cardcontent">
            <input type="hidden"name="Fid"value="@Model.Fid" />
    
            <div class="h1div">
            <h1>會員驗證信</h1>
            </div>
            <div class="pdiv">
            <p>請按下確定鈕開通會員資格</p>
            </div>
            <div class="subdiv">
                <input type="submit" value="確定" class="submitbtn" />
            </div>
        </div>
        </form>
    
    </div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
