@model prjMSIT145_Final.ViewModels.CNormalMemberViewModel

@{
    ViewData["Title"] = "Forgetpassword";
}
@section Styles{
    <link rel="stylesheet" href="~/css/Customer_css/ForgetpasswordNormalmembe.css">


     }
<div class="wrap">
        <form asp-action="Forgetpassword" name="Forgetpassword" id="Forgetpassword">
    <div class="cardcontent">
     

        <div class="h1div">
            <h1>請輸入正確的帳號密碼</h1>
        </div>
        <input type="hidden" name="Fid"/>
        <div class="emaildiv">
            <span>帳號(手機)</span>
            <input type="text" class="inputclass" name="Phone" />
        </div>
            <div class="emaildiv">
                <span>Email</span>
                <input type="text" class="inputclass" name="Email" />
            </div>

        <div class="messagediv">
            <span id="spanmessageid" class="spanmessageclass">&nbsp&nbsp</span>
        </div>
        <div class="subdiv">
            <input type="submit" id="submitid" value="確定" class="submitbtn" />
        </div>
    </div>
    </form>



</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
         document.getElementById("submitid").addEventListener('click',async ()=> {
                event.preventDefault();

                let formdata = new FormData(document.Emailcheck);
                const request = await fetch(`@Url.Content("~/CustomerMember/Emailcheckword")`,{
                body:formdata,
                method:"Post",

            })
            const data = await request.json();
            console.log(data);
            if(data==""){
                alert("已開通會員資格");
                document.getElementById("spanmessageid").innerHTML ="";
                document.getElementById("Emailcheck").submit();

            }
            else{
                document.getElementById("spanmessageid").innerHTML=data;
                //alert(data);
                return;
            }

        });

}
