@model prjMSIT145_Final.ViewModels.CNormalMemberViewModel

@{
    ViewData["Title"] = "Forgetpassword";
}
@section Styles{
    <link rel="stylesheet" href="~/css/Customer_css/ForgetpasswordNormalmembe.css">


     }
<div class="wrap">
        <form asp-action="Forgetpassword" name="Forgetpassword" id="Forgetpasswordid">
    <div class="cardcontent">
     

        <div class="h1div">
            <h1>請輸入正確的手機和信箱</h1>
        </div>
        <input type="hidden" name="Fid"/>
        <div class="emaildiv">
            <span class="spantitle">手機</span>
            <input type="text" class="inputclass" name="Phone" id="Phoneid" />
        </div>
            <div class="emaildiv">
                <span class="spantitle">信箱</span>
                <input type="text" class="inputclass" name="Email" id="Emailid" />
            </div>

        <div class="messagediv">
            <span id="spanmessageid" class="spanmessageclass">&nbsp&nbsp</span>
        </div>
        <div class="subdiv">
            <input type="submit" id="submitid" value="確定" class="submitbtn" />
        </div>
            <input type="button" class="democorrect" id="democorrectid" value="" />
            <input type="button" class="demoerror" id="demoerrorid" value="" />
    </div>
    </form>



</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        
        document.getElementById("democorrectid").addEventListener('click', () => {                             //正確DEMO鍵
            document.getElementById("Phoneid").value = "0936212576"
            document.getElementById("Emailid").value = "a29803385@hotmail.com"
          
        });

        document.getElementById("demoerrorid").addEventListener('click', () => {                                 //錯誤
           
            document.getElementById("Phoneid").value = "0912345678";
            document.getElementById("Emailid").value = "a123@hotmail.com";
          

        });


         document.getElementById("submitid").addEventListener('click',async ()=> {
                event.preventDefault();

            let formdata = new FormData(document.Forgetpassword);
            const request = await fetch(`@Url.Content("~/CustomerMember/Forgetpasswordapi")`, {
                body:formdata,
                method:"Post",

            })
            const data = await request.json();

            if (data == "已送出重置密碼信件,請於10鐘內重製密碼") {
                document.getElementById("spanmessageid").innerHTML =data;
                document.getElementById("Forgetpasswordid").submit();
                
            }
             else if (data == "帳號或Email錯誤"){
                document.getElementById("spanmessageid").innerHTML=data;
                
                return;
            }
            else{
                document.getElementById("spanmessageid").innerHTML =data;
                return;
            }

        });
    </script>
}
