@model prjMSIT145_Final.Models.NormalMember

@{
    ViewData["Title"] = "Login";
}
<div class="wrap">
    <div class="Content">
        <div class="Head">
            <p class="toptitle">歡迎使用你訂！線上訂餐系統</p>
            <p class="toptitle2">請選擇登入/註冊方式，通過驗證後即可使用</p>
            <input type="submit" class="btn" value="使用手機註冊"></input>
            <link rel="stylesheet" href="~/css/Customer_css/Login.css">
        </div>
        <div>

            <div class="text">
                <img src="~/images/Customer/loginimage/call.png" class="img"></img>
                <input type="text" placeholder="手機號碼" class="text2" />
            </div>
            <p class="detail">只支援台灣手機號碼</p>
            <div class="text">
                <img src="~/images/Customer/loginimage/key.png" class="img"></img>
                <input type="password" placeholder="密碼" class="text2" />
                <img src="~/images/Customer/loginimage/hide.png" class="img"></img>
            </div>
            <p class="detail">6-64位英數混合，英文需區分大小寫</p>
            <input type="submit" value="登入" class="login" />
            <div class="display">
                <img src="~/images/Customer/loginimage/question.png" class="img"></img>
                <p class="text3">忘記密碼</p>
            </div>
            <div class="dashed"></div>
            <div>
                <span class="text3">登入即代表您同意</span>
                <span class="text4">使用者條款</span>
                <span class="text3">和</span>
                <span class="text4">隱私權條款</span>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <link rel="stylesheet" href="~/css/Customer_css/Login.css">
}
