@model List<prjMSIT145_Final.ViewModels.VCUtilityViewModel>
@{
    Layout = "_CustomerLayout";
    ViewData["Title"] = "CShowProduct";
}
@section Styles{
    <link href="~/css/Customer_css/CShowProduct.css" rel="stylesheet" />
}
<section class="shopinfocard">
    <div class="shopinfoarea">
        <div class="shopinfo">
            <P>@Model[0].BusinessMemberDetailList[0].MemberName</P>
        </div>
        <div class="btnbar">
            <div class="icon">
                <img src="~/images/Customer/ShowProduct/discount 24x24.png" />
                <div class="btntext">優惠</div>
            </div>
            <div class="icon">
                <img src="~/images/Customer/ShowProduct/take.png" />
                <div class="btntext">怎取餐</div>
            </div>
            <div class="icon">
                <img src="~/images/Customer/ShowProduct/search.png" />
                <div class="btntext">找商品</div>
            </div>
            <div class="icon">
                <img src="~/images/Customer/ShowProduct/add.png" />
                <div class="btntext">揪團</div>
            </div>
        </div>
    </div>
    <section class="ADarea">
        <img class="Shopcardcover" src="~/images/Customer/Shopcard/Test/shopcover.png" />
    </section>
</section>
<section class="ShowClassdisplay">
    @{
        foreach (var item1 in Model[0].ProductClassList)
        {
            <div class="productclass">
                <h1 class="classtitle">@item1.CategoryName</h1>
                @foreach (var item2 in item1.ProductsList)
                {
                    <div class="productitem">
                        <p class="producttext">@item2.ProductName</p>
                        <form action="/Home/AddtoCart" method="post">
                            <input type="text" name="A" value="A" hidden />
                            <button type="submit">購買</button>
                        </form>
                        <p class="producttext">$@Convert.ToInt32(item2.UnitPrice)</p>
                    </div>
                }
            </div>
        }
    }
</section>
@section Scripts{
    <script>

    </script>
}
