@{
    Layout = "_CustomerLayout";
    ViewData["Title"] = "Home Page";
}
@section Styles{
    <link href="~/css/Customer_css/CMainpagestyle.css" rel="stylesheet" />
    <link href="~/css/Customer_css/CShopcardstyle.css" rel="stylesheet" />
}
<section class="Displayarea">
    <div class="ADblock">
        <img src="~/images/Customer/Mainpage/shibaLogo_row2.png" />
    </div>
    <div class="Bone Boneposition1">
        <div class="Quickbutton">
            <img src="~/images/Customer/Mainpage/nearby 64x64.png" />
        </div>
        <p>找附近</p>
    </div>
    <div class="Bone Boneposition2">
        <div class="Quickbutton">
            <img src="~/images/Customer/Mainpage/findarea 64x64.png" />
        </div>
        <p>找區域</p>
    </div>
    <div class="Bone Boneposition3">
        <div class="Quickbutton">
            <img src="~/images/Customer/Mainpage/shop 64x64.png" />
        </div>
        <p>找品牌</p>
    </div>
    <div class="Bone Boneposition4">
        <div class="Quickbutton">
            <img src="~/images/Customer/Mainpage/coupon 64x64.png" />
        </div>
        <p>我的券夾</p>
    </div>
</section>
<section class="Showshoptilte">
    <p>附近推薦店家</p>
    <div>
        <h2>查看更多&ensp;</h2>
        <img src="~/images/Customer/Mainpage/circlearrow_right 32x32.png" />
    </div>
</section>
<section class="Showshopdisplay">
    <div class="Shopcard">
        <img class="Shopcardloggo" src="~/images/Customer/Shopcard/Test/circlelogo.png" />
        <img class="Shopcardcover" src="~/images/Customer/Shopcard/Test/shopcover.png" />
        <div class="Shopcardbottem">
            <h3>&ensp;50嵐&ensp; 台北忠孝復興店</h3>
            <ul>
                <li>&ensp;11:30&ensp;～&ensp;20:30&ensp;</li>
                <li>&ensp;0.3 km&ensp;</li>
                <li>&ensp;★ 4.6&ensp;</li>
            </ul>
            <h4>&ensp;台北市大安區大安路一段49號</h4>
        </div>
    </div>
    <div class="Shopcard">
        <img class="Shopcardloggo" src="~/images/Customer/Shopcard/Test/circlelogo.png" />
        <img class="Shopcardcover" src="~/images/Customer/Shopcard/Test/shopcover.png" />
        <div class="Shopcardbottem">
            <h3>&ensp;50嵐&ensp; 台北忠孝復興店</h3>
            <ul>
                <li>&ensp;11:30&ensp;～&ensp;20:30&ensp;</li>
                <li>&ensp;0.3 km&ensp;</li>
                <li>&ensp;★ 4.6&ensp;</li>
            </ul>
            <h4>&ensp;台北市大安區大安路一段49號</h4>
        </div>
    </div>
    <div class="Shopcard">
        <img class="Shopcardloggo" src="~/images/Customer/Shopcard/Test/circlelogo.png" />
        <img class="Shopcardcover" src="~/images/Customer/Shopcard/Test/shopcover.png" />
        <div class="Shopcardbottem">
            <h3>&ensp;50嵐&ensp; 台北忠孝復興店</h3>
            <ul>
                <li>&ensp;11:30&ensp;～&ensp;20:30&ensp;</li>
                <li>&ensp;0.3 km&ensp;</li>
                <li>&ensp;★ 4.6&ensp;</li>
            </ul>
            <h4>&ensp;台北市大安區大安路一段49號</h4>
        </div>
    </div>
    <div class="Shopcard">
        <img class="Shopcardloggo" src="~/images/Customer/Shopcard/Test/circlelogo.png" />
        <img class="Shopcardcover" src="~/images/Customer/Shopcard/Test/shopcover.png" />
        <div class="Shopcardbottem">
            <h3>&ensp;50嵐&ensp; 台北忠孝復興店</h3>
            <ul>
                <li>&ensp;11:30&ensp;～&ensp;20:30&ensp;</li>
                <li>&ensp;0.3 km&ensp;</li>
                <li>&ensp;★ 4.6&ensp;</li>
            </ul>
            <h4>&ensp;台北市大安區大安路一段49號</h4>
        </div>
    </div>
</section>