@model prjMSIT145_Final.ViewModel.CProductsViewModel
@{
	ViewData["Title"] = "BCreate";
}
@section Styles{
	<link rel="stylesheet" href="../css/ProductCreate.css">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
}

<div class="outerlayer ">
	<form method="post" enctype="multipart/form-data">
		<input type="hidden" name="BFid" value="@Model.BFid"></input>
		<div class="topdiv">
			<a href="@Url.Content("~/Product/BList")"><img class="back" src="../images/backarrow.png" value=""></a>
			<input id="txtProductName" name="ProductName" class="inputtext" type="text" placeholder=" 輸入餐點名稱....." />   @*產品名稱*@

			<input id="btnSubmit" class="butt" type="submit" value="儲存" />
		</div>

		@*產品照片*@
		<h6 id="h6">相片</h6>
		<div class="divimage">
			<div>
				<input style="width:110px; height:70px;" id="imgShow" class="inputimage" type="image" src="../images/photo.png">
			</div>
			<div>
				<p>餐點照片可協助顧客訂購那些美食,<br>進而提供銷售量.</p>
				<div class="divinputimagebutton">
					@*<input id="btnImgCreate" class="inputimagebutton"type="button" value="新增照片">*@
					@*<input id="btnImgDownload" class="inputimagebutton" type="button" value="下載">*@
					<label class="inputimagebutton" for="file" style="width:80px; padding: 5px;"><input id="file" name="file" type="file" style="display:none;" />上傳檔案</label>
					<input id="btnImgDelete" class="inputimagebutton" type="button" value="刪除">
				</div>
			</div>
		</div>

		@*暫時將不使用單獨販售功能,新增產品與新增配料為同一個畫面不同View*@
		@*<hr style="border:1px dashed #000; height:1px">
		<h6 id="h6">是否單獨販賣餐點?</h6>
		<label><input class="form-check-input" type="radio" name="IsForSale" value="yes" />是</label>   @*點選單獨販售與否
		<label><input class="form-check-input" type="radio" name="IsForSale" value="no" />否</label>
		<hr style="border:1px dashed #000; height:1px">
		<h6 id="h6">類別</h6>*@

		<select id="selType"><option>請選擇商品類別</option></select>  @*選擇類別*@

		<hr style="border:1px dashed #000; height:1px">
		<h6 id="h6">價格及販售方式</h6>
		<span>透過自取</span><br>
		<label for="">預設價格</label>
		<input type="text" value="100" id="txtPrice" name="UnitPrice" />   @*產品價格*@
		<hr style="border:1px dashed #000; height:1px">
		<h6 id="h6">餐點是否上架</h6>
		<div class="form-check form-switch">
			@*checked為1=>已上架*@
			<input name="IsForSale" class="form-check-input" type="checkbox" role="switch" id="IsForSale" />  @*餐點上架與否*@
			<label class="form-check-label" for="flexSwitchCheckDefault"></label>
		</div>
		<hr style="border:1px dashed #000; height:1px">
		<h6 id="h6">說明(選項)</h6>
		<textarea placeholder=" 輸入說明.....例如豬肉產地" id="txtMemo" name="Memo"></textarea>   @*產品備註*@
	</form>
</div>

@section Scripts{
	<script>
		const imgShow = document.querySelector("#imgShow"); //選擇的類別
		const file = document.querySelector("#file"); //新增照片
		const btnImgDelete = document.querySelector("#btnImgDelete"); //刪除照片
		const selType = document.querySelector("#selType"); //選擇的類別
		const IsForSale = document.querySelector("#IsForSale"); //選擇是否上架
		const btnSubmit = document.querySelector("#btnSubmit"); //儲存按鈕

		//載入所有商品類別
		window.addEventListener("load", async function () {
			const request = await fetch(`@Url.Content("~/Type/BCategoryList")`);
			const data = await request.json();
			let frag = document.createDocumentFragment();
			frag = "";
			data.forEach(function (item, index) {
				 //console.log(data[index].categoryName)}
				 if(index === 0)
				 frag+=`<option><input type='hidden' id='Fid' value='Fid'>${item.categoryName}</option>`;
				else if (data[index].categoryName !== data[index-1].categoryName)
			     frag += `<option><input type='hidden' id='Fid' value='Fid'>${item.categoryName}</option>`
			});
			selType.innerHTML += frag;
			console.log(file)
		})

		//上傳照片
		file.addEventListener("change", function () {
			const file = this.files[0];
			const reader = new FileReader();
			reader.onload = function (e) {
				imgShow.setAttribute("src", e.target.result);
			};
			reader.readAsDataURL(file);
			console.log(file);
		})

		//移除照片
		btnImgDelete.addEventListener("click", function () {
			file.outerHTML = file.outerHTML;
			imgShow.setAttribute("src", "../images/photo.png");
		})
		//商品是否上架
		IsForSale.addEventListener("click", function () {

			if (IsForSale.checked) {
				console.log(IsForSale);
				IsForSale.value = "1";
			}
			else {
				IsForSale.value = "0";
			}

		})
		//是否選擇了商品類別
		btnSubmit.addEventListener("click",function(){
			if(selType.value === "請選擇商品類別")
			alert("請確認商品類別是否選取!");

		})
	</script>
}