.flex{
    display: flex;
}
.box{
    box-sizing: border-box;
    width:40%;
}
.mainDiv {
width:80%;
margin: 0 auto;
}
.leftBorder{
border-left: 2px dashed gray;
}
.leftTxt{
border: none;
background-color:transparent;
width:50%;
/* width:70%; */
}
.leftmargin{
margin: 20px 10px 5px 30px;
}
    .leftmargin hr{
        margin-top:30px;
    }
    .textArea {
        min-width: 100%;
        min-height: 50px;
        background-color:transparent;
    }
.rigthDivMargin{
margin:20px 0 5px 5px;
}
.rightDiv{
width:60%;
padding: 0 0 0 10px;

}
.rightDiv table{
width:100%;
}