.outerlayer{
    width: 450px;
    margin: 0 auto;
   
}
.topdiv{
    
    /* position: fixed; */
    width: 450px;
    height: 100px;
    margin-bottom: 10px;
    margin-top: 50px;
    /*border-bottom: 1px gray solid;*/
   
    display: flex;
    justify-content: center;
    align-items: center;
  
    
}
.inputtext{
    
    border-width: 0;
    font-size: 15px;
  
}
.back{
    width: 30px;
    height: 30px;
    margin-right: 100px;
    margin-top: -120px;
}
.butt{
    border-radius: 10px;
    margin-left: 35px;
    width: 50px;
    background-color:black;
    color: white;
}