.outerlayer{
    width: 500px;
    margin: 0 auto;
   
}
.topdiv{
    
    /* position: fixed; */
    width: 500px;
    height: 100px;
    margin-bottom: 20px;
    margin-top: 50px;
    border-bottom: 1px gray solid;
    display: flex;
    justify-content: center;
    align-items: center;
  
    
}

.inputtext{
    
    border-width: 0;
    font-size: 20px;
  
}
.back{
    width: 40px;
    height: 40px;
    margin-right: 140px;
    margin-top: -120px;
}
.butt{
    border-radius: 10px;
    margin-left: 35px;
    width: 50px;
    background-color:black;
    color: white;
}
select{
    width: 200px;
    border-radius: 10px;
}
.selectbutton{
    background-color: black;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    margin-left: 30px;
}
#h6{
    font-size: 28px;
    font-weight: bold;
}
.reglurspan{
    color: grey;
    font-weight: bold;
    margin-bottom: 100px;
    font-size: 14px;
}
td{
    font-weight: bold;
    font-size: 18px;
}
.table{
    margin-top: 20px;
}


