.step {
    transform: rotateX(50deg);
    opacity: 90%;
    bottom: 40px;
    filter: drop-shadow(5px 10px 5px rgba(0,0,0,0.5));
}
.step2{
transform: rotateX(50deg);
    opacity: 70%;
    bottom: 30px;
    filter: drop-shadow(5px 10px 5px rgba(0,0,0,0.5));
}
.default {
    filter: drop-shadow(5px 10px 5px rgba(0,0,0,0.3));
}
.azureLogo {
    width: 70px;
    height: 60px;
    position: fixed;
    bottom: 30px;
    left: 40px;
    transition: 0.2s;

/*    animation-name:step;
    animation-duration:2s;
    animation-iteration-count:infinite*/
    /*transform-style:preserve-3d;
    transform: rotateX(30deg);  /*20deg
    filter: drop-shadow(5px 10px 5px rgba(0,0,0,0.5));
       /*opacity:90%; //透明度 30%*/
}

    .azureLogo img {
        width: 100%;
        height: 100%;
    }
    .walk{
   animation-name:step;
    animation-duration:1.3s;
    animation-iteration-count:infinite
    }
    @keyframes step{
       /* 0% {
            transform: rotateX(30deg);
            opacity: 90%;
            bottom: 32px;
            filter: drop-shadow(5px 10px 5px rgba(0,0,0,0.3));
        }
        5%{
transform: rotateX(32deg);
            opacity: 90%;
            bottom: 33px;
            filter: drop-shadow(5px 10px 5px rgba(0,0,0,0.3));
        }
        10%{
            transform: rotateX(35deg);
            opacity: 90%;
            bottom: 34px;
            filter: drop-shadow(5px 10px 5px rgba(0,0,0,0.3));

        }
        15% {
            transform: rotateX(37deg);
            opacity: 90%;
            bottom: 35px;
            filter: drop-shadow(5px 10px 5px rgba(0,0,0,0.4));
        }
        20%{
transform: rotateX(40deg);
            opacity: 90%;
            bottom: 37px;
            filter: drop-shadow(5px 10px 5px rgba(0,0,0,0.4));
        }
        25% {
            transform: rotateX(45deg);
            opacity: 90%;
            bottom: 38px;
            filter: drop-shadow(5px 10px 5px rgba(0,0,0,0.5));
        }
        30% {
            transform: rotateX(50deg);
            opacity: 90%;
            bottom: 39px;
            filter: drop-shadow(5px 10px 5px rgba(0,0,0,0.5));
        }
        35% {
            transform: rotateX(52deg);
            opacity: 90%;
            bottom: 39px;
            filter: drop-shadow(5px 10px 5px rgba(0,0,0,0.5));
        }
        40% {
            transform: rotateX(55deg);
            opacity: 90%;
            bottom: 39px;
            filter: drop-shadow(5px 10px 5px rgba(0,0,0,0.5));
        }
        50% {
            transform: rotateX(70deg);
            opacity: 90%;
            bottom: 40px;
            filter: drop-shadow(5px 10px 5px rgba(0,0,0,0.5));
        }
        75% {
            transform: rotateX(70deg);
            opacity: 90%;
            bottom: 25px;
            filter: drop-shadow(5px 10px 5px rgba(0,0,0,0.5));
        }
        100% {
            transform: rotateX(70deg);
            opacity: 0%;
            bottom: 20px;
            filter: drop-shadow(5px 10px 5px rgba(0,0,0,0.5));
        }*/
        from {
            height:20px;
            /*transform: rotateX(70deg);*/
            opacity: 90%;
            bottom: 80px;
            filter: drop-shadow(5px 10px 5px rgba(0,0,0,0.5));
        }
        to {
            height: 70px;
            /*transform: rotateX(70deg);*/
            opacity: 30%;
            bottom: 5px;
            filter: drop-shadow(5px 10px 5px rgba(0,0,0,2));
        }
    }
.azure {
    position: fixed;
    left: 40px;
    top: 40px;
    margin-top: 50px;
}
/* 腳掌印 */
.logoDiv {
    width: 70px;
    height: 60px;
    position: fixed;
    left: 150px;
    bottom: 30px ;
    transition: 0.2s;
    filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.3))
}

    .logoDiv img {
        width: 100%;
        height: 100%;
    }

.logo {
    position: fixed;
    left: 40px;
    top: 40px;
    background-color: white;
    height: 72%;
}
/* 平台及使用者頭像 */
.imgDiv {
    min-width: 50px;
    height: 50px;
    margin: 0 5px;
    border-radius: 50%;
}

    .imgDiv img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
    }

.scroll {
    overflow-y: auto;
    overflow-x: hidden;
}

.display {
    display: flex;
    /* align-items:center; */
}
.card{
    height:100%;
}
/* 對話框 */
.msgDiv {
    /* min-height: 500px;
    max-height: 700px;*/
    height: 95%;
    max-width: 380px;
    min-width: 380px;
    border-bottom: 1px solid lightgray;
}

#collapseExample {
    margin-top: 50px;
}
/* 平台 */
.serviceDiv {
    max-width: 280px;
    min-width: 280px;
    /* background-color: antiquewhite; */
}

.serviceMsg {
    word-wrap: break-word;
    /* word-break: break-all; */
    font-size: 13px;
}

    .serviceMsg p {
        color: sienna;
        font-size: 20px;
        margin: 2px;
    }

.qDiv {
    margin: 5px 0;
    border: 1px solid rgb(216, 216, 216);
    box-sizing: border-box;
    padding: 0 5px;
    border-radius: 5px;
}
/* 使用者 */
.userDiv {
    width: 365px;
    justify-content: right;
    margin: 10px 0;
}

.userMsg {
    word-wrap: break-word;
    font-size: 13px;
    box-sizing: border-box;
    padding: 15px 0;
    /* background-color: aqua; */
}
/* 輸入框 */
.txtDiv {
    margin: 10px 0 0 5px;
    background-color: transparent;
    width: 100%;
}

    .txtDiv input {
        width: 90%;
    }

    .txtDiv button {
        height: 30px;
        width: 40px;
        border: none;
        margin-left: 5px;
        background-color: transparent;
    }

    .txtDiv img {
        height: 100%;
        width: 100%;
    }
