.Displayarea {
    margin: 30px auto;
    position: relative;

    /*調整骨頭顯示圖片區塊大小*/
    width: 1200px;
    height: 450px;
}

.ADblock {
    background-color: #FFFFFF;
    position: absolute;
    
    /*調整骨頭顯示圖片區塊大小*/
    width: 1000px;
    height: 350px;
    top: 50px;
    left: 100px;
}

    .ADblock > img {
        position: absolute;
        /*調整骨頭顯示圖片區塊大小*/
        width: 700px;
        height: 262.5px;
        top: 43.75px;
        left: 150px;
    }

.wrapper {
    position: relative;
    width: 54%;
    height: 95%;
    overflow: hidden;
    margin: 10px auto;
}

ul.slides {
    margin: 0;
    padding: 0;
    position: absolute;
    width: 4860px;
    left: 0px;
    transition: all .5s;
}

    ul.slides.hidden {
        transition-property: none;
    }

    ul.slides li {
        margin: 0;
        padding: 0;
        list-style: none;
        width: 540px;
        height: 360px;
        overflow: hidden;
        float: left;
    }

        ul.slides li img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

            ul.slides li img.hidden {
                opacity: 0;
            }

.Bone {
    clip-path: circle(50% at 50% 50%);
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    /*調整骨頭顯示圖片區塊大小*/
    width: 225px;
    height: 225px;
}

.Boneposition1 {
    position: absolute;
}

.Boneposition2 {
    position: absolute;
    right: 0px;
}

.Boneposition3 {
    position: absolute;
    left: 0px;
    bottom: 0px;
}

.Boneposition4 {
    position: absolute;
    right: 0px;
    bottom: 0px;
}

.Quickbutton {
    width: 120px;
    height: 120px;
    clip-path: circle(50% at 50% 50%);
    background-color: #9F4E27;
    display: flex;
    align-items: center;
    justify-content: center;
}

section.Displayarea p {
    color: #9F4E27;
    font-size: 26px;
    font-weight: 900;
}

.Showshoptilte {
    margin: 30px auto;
    width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}

    .Showshoptilte div {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .Showshoptilte p {
        color: #9F4E27;
        font-size: 30px;
        font-weight: 800;
    }

    .Showshoptilte h2 {
        color: #000000;
    }
