.body_Icon_delete_Guide_fontColor{
    color: rgb(79, 69, 79);
}
.button_Icon_Guide_BackGroundColor{
    background-color: rgb(250, 250, 248);
}
.cardBorderColor{
    border-color: #9F4E27
}
.cardBackgroundColor{
    /* background-color: rgb(255, 251, 217); */
    background-color:white

}
.card_Guide_FontColor{
    color:#595757;
}
*{
    color:#595757;
}