.shopinfocard {
    margin: 30px 0px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shopinfoarea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.shopinfo {
    background-color: #FFFFFF;
    width: 420px;
    height: 220px;
    border-radius: 20px 0px 0px 0px;
    display: flex;
    justify-content: center;
    padding: 20px;
    border-left: solid 10px #9F4E27;
    border-top: solid 10px #9F4E27;
    border-right: solid 10px #9F4E27;
}

.shoptitle {
    margin: 0px 0px 0px 10px;
    font-family: monospace;
    font-size: 24px;
    font-weight:bold;
}

.Shoplogo {
    width: 70px;
    height: 70px;
    clip-path: circle(50% at 50% 50%);
    margin: 0px 15px 0px 10px;
}

.infoblock {
    width:350px;
    height:200px;
}

.InfoArea {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 7px 0px;
    font-size: 18px;
    margin-left: 10px;
    font-family: monospace;
}

    .InfoArea p {
        font-size:18px;
        margin-left:10px;
        font-family: ui-monospace;
    }
    .InfoArea img {
        margin-left: 5px;
    }

    .btnbar {
        width: 420px;
        height: 85px;
        background-color: #9F4E27;
        display: flex;
        justify-content: space-between;
        padding: 5px 30px;
        border-radius: 0px 0px 0px 20px;
    }

.iconwrap {
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

.icon {
    width: 50px;
    height: 50px;
    clip-path: circle(50% at 50% 50%);
    background-color: #FFFFFF;
    display:flex;
    justify-content:center;
    align-items:center;
}

.btntext {
    font-size: 14px;
    color: #FFFFFF;
    margin-top: 5px;
    font-weight: bold;
    text-align:center;
}


.ADarea {
    background-color: #FFFFFF;
    width: 720px;
    height: 365px;
    border-radius: 0px 20px 20px 0px;
    margin: 0px 0px 0px 0px;
    overflow: hidden;
}

    .ADarea img {
        width: 720px;
        height: 365px;
    }

.ShowClassdisplay {
    margin: 15px auto;
    width: 1200px;
    display: flex;
    justify-content: flex-start;
    align-items:flex-start;
    flex-wrap: wrap;
}

.productclass {
    background-color: #FFFFFF;
    width: 370px;
    padding: 5px;
    margin: 0px 0px 25px 30px;
    border-radius: 5px;
    box-shadow: 3px 3px 5px #5a5555;
}

    .productclass:nth-child(3n+1) {
        margin: 0px 0px 30px 0px;
    }

.classtitle {
    color: #9F4E27;
    margin: 10px;
}

.productitem {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    padding: 0px 0px 10px 0px;
    border-bottom: 0.5px solid rgb(212, 207, 207);
    align-items: center;
}

    .productitem:last-child {
        padding: 0px;
        border-bottom: none;
    }

.producttext {
    font-size: 20px;
    font-weight: bold;
}
