.wrap {
    width: 1800px;
    margin: 80px auto;
    display: flex;
    text-align:center;
    justify-items:center;
    margin-bottom:50px;
}

.leftgroup {
    margin-left: 400px;
    margin-right: 80px;
    
}

.title {
    background-color: whitesmoke;
    margin: 0;
    height: 70px;
    text-align: center;
    border-color: aliceblue;
}

.card1 {
    background-color: whitesmoke;
    border: solid 2px;
    border-color: transparent;
    width: 200px;
    height: 170px;
    border-radius: 20px;
    border-collapse: collapse;
    text-align: center;
    padding: 10px;
    margin-bottom: 50px;
    box-shadow: 6px 6px 6px rgba(20%,20%,40%,0.5),inset 1px 1px 4px 2px rgba(20%,20%,40%,0.5);
}

.text {
    font-size: 14px;
    color: whitesmoke;
    text-align: center;
    background-color: transparent;
    margin-top: 12px;
    font-weight: bold;
}

.card3 {
    background-color: whitesmoke;
    border: solid 2px;
    border-color: transparent;
    width: 636px;
    border-radius: 20px;
    border-collapse: collapse;
    text-align: center;
    padding: 10px;
    box-shadow: 6px 6px 6px rgba(20%,20%,40%,0.5),inset 1px 1px 4px 2px rgba(20%,20%,40%,0.5);
    position: relative;
}
.card30{
    position:relative;
    margin-left:40px;
    margin-bottom:40px;  
}
.divhint {
    display: flex;
    text-align: center;
}
.necessspan{
    color:red;
    font-size:10px;
}

.card2 {
    background-color: whitesmoke;
    border: solid 2px;
    border-color: transparent;
    width: 200px;
    height: 150px;
    border-radius: 20px;
    border-collapse: collapse;
    text-align: left;
    padding: 10px;
    box-shadow: 6px 6px 6px rgba(20%,20%,40%,0.5),inset 1px 1px 4px 2px rgba(20%,20%,40%,0.5);
}

.title2 {
    background-color: whitesmoke;
    margin: 10px;
}

.dashed {
    border: 0.1px solid rgb(236, 229, 229);
    margin-bottom:10px;
}

.text2 {
    font-size: 15px;
    background-color: transparent;
    margin: 10px;
    padding-bottom: 20px;
    font-weight: bold;
}

.title3 {
    background-color: whitesmoke;
    margin: 40px;
}

.input {
    width: 180px;
    padding-left: 10px;
    background-color: transparent;
    font-size: 14px;
    border-radius: 10px;
    border-color: transparent;
    font-weight: bold;
    outline: none;
}

.div1 {
    width: 200px;
    height: 30px;
    background-color: transparent;
    font-size: 14px;
    border-radius: 10px;
    border: solid 1px rgb(99, 99, 99);
    display: flex;
    margin-bottom: 30px;
}

.text3 {
    font-size: 15px;
    background-color: transparent;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: left;
    display: flex;
}

.color {
    background-color: whitesmoke;
    color: #ff5e7d;
    margin-right: 10px;
    font-size: 20px;
}

.display {
    display: flex;
    background-color: transparent;
}

.text4 {
    font-size: 18px;
    background-color: transparent;
    font-weight: bold;
    text-align: left;
}

.text5 {
    font-size: 16px;
    margin: 0px 20px 0px 20px;
    font-weight: bold;
}

.date {
    width: 600px;
    margin: auto;
    margin-left: 0;
    height: 18px;
    background-color: transparent;
    font-size: 14px;
    border-radius: 3px;
    border-color: transparent;
    outline: none;
}

.div2 {
    width: 100px;
    height: 30px;
    background-color: transparent;
    font-size: 14px;
    border-radius: 3px;
    border: solid 1px rgb(99, 99, 99);
    display: flex;
    margin-bottom: 30px;
    margin-right: 80px;
}

.enter {
    width: 157px;
    height: 65px;
    background-color: #ff5e7d;
    
    color: whitesmoke;
    font-weight: bold;
    border-radius: 5px;
    border: transparent;
    font-size: 18px;
}

.dog {
    background-color: #9f4e27;
    width: 100px;
    height: 100px;
}

.backcolor {
    background-color: transparent;
}

.text6 {
    font-size: 16px;
    background-color: transparent;
    font-weight: bold;
    margin: 10px;
}

.aui-info {
    position: relative;
}

.fileInput {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    display: block;
    width: 10rem;
    clear: both;
    display: block;
    margin: auto;
    background-color: red;
}

.spancorrect {
    color: red;
    font-size: 14px;
    font-weight: bold;
}
.divheadpic {
    margin-left:400px;
    width: 140px;
    height: 120px;
  
}
.sapnphoto{
   color:forestgreen;
   font-size:14px;
   font-weight:bold;
}
.spanerrormessage{
    font-size:14px;
    font-weight:bold;
}
.Formatspan{
    font-size: 10px;
    color: darkgray;
}
.democorrect {
    position: absolute;
    bottom: 20px;
    right: 100px;
    color: white;
    background-color: blue;
    border-radius: 20px;
    width: 60px;
}

.demoerror {
    position: absolute;
    bottom: 20px;
    right: 20px;
    color: white;
    background-color: red;
    border-radius: 20px;
    width: 60px;
}
