.wrap {
    background-color: white;
    width: 500px;
    margin: 100px auto;
    border-radius: 20px;
    box-shadow: 6px 6px 6px rgba(20%,20%,40%,0.5),inset 1px 1px 4px 2px rgba(20%,20%,40%,0.5);
    position:relative;
}

.h1div {
    text-align: center;
    margin-bottom: 10px;
    padding-top: 16px;
}

h1 {
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 15px;
}

.pdiv {
    text-align: center;
}

p {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 15px;
}

.subdiv {
    margin-left: 220px;
}

.submitbtn {

    font-size: 16px;
    background-color: blue;
    color: white;
    border-radius: 10px;
    margin-bottom: 30px;
    padding: 10px;
    cursor: pointer;
    
}

.emaildiv {
    text-align: center;
}

.messagediv {
    text-align: center;
}

.spanmessageclass {
    font-size: 20px;
    color: red;
    font-weight: bold;
    margin-bottom: 20px;
}

.inputclass {
    font-size: 16px;
    padding:5px;
    font-weight: bold;
    margin-bottom: 15px;
    border-radius: 10px;
    width: 250px;
    padding-left: 10px;
}
.spantitle{
    font-weight:bold;
    font-size:18px;
}
.democorrect {
    position: absolute;
    bottom: 20px;
    right: 100px;
    color: white;
    background-color: blue;
    border-radius: 20px;
    width: 30px;
    height: 10px;
}

.demoerror {
    position: absolute;
    bottom: 20px;
    right: 20px;
    color: white;
    background-color: red;
    border-radius: 20px;
    width: 30px;
    height: 10px;
}
