.wrap {
    background-color: white;
    width: 500px;
    margin: 100px auto;
    border-radius: 20px;
    box-shadow: 6px 6px 6px rgba(20%,20%,40%,0.5),inset 1px 1px 4px 2px rgba(20%,20%,40%,0.5);
    text-align: center;
    position:relative;
}

.h1div {
    padding-top: 10px;
}

h1 {
    margin-bottom: 20px;
}

.cardcontent {
    text-align: center;
}

.passworddiv {
    display: flex;
    margin-left: 100px;
    margin-bottom: 20px;
    
}

.passspantitle {
    font-size: 20px;
    font-weight: bold;
    margin-right: 40px;
}

.passspantitle2 {
    font-size: 20px;
    font-weight: bold;
}

.input {
    font-size: 16px;
    font-weight: bold;
    padding:5px;
    width: 150px;
    border-radius: 10px;
}

.spanerrormessage {
    margin-left: 10px;
    font-weight:bold;
    font-size:12px;
}

.submitbtn {
    font-size: 20px;
    background-color: blue;
    color: white;
    border-radius: 20px;
    margin-bottom: 30px;
    padding: 5px;
    cursor: pointer;
}
.democorrect {
    position: absolute;
    bottom: 20px;
    right: 100px;
    color: white;
    background-color: blue;
    border-radius: 20px;
    width: 60px;
}

.demoerror {
    position: absolute;
    bottom: 20px;
    right: 20px;
    color: white;
    background-color: red;
    border-radius: 20px;
    width: 60px;
}
