.wrap {
    margin: 200px auto;
    width: 400px;
   /* margin-bottom: 100px;*/
}

.Content {
    /*background-color: whitesmoke;*/
    background-color: white;
    border: solid 2px;
    border-color: transparent;
    width: 400px;
    border-radius: 30px;
    text-align: center;
    padding: 10px;
    box-shadow: 6px 6px 6px rgba(20%,20%,40%,0.5),inset 1px 1px 4px 2px rgba(20%,20%,40%,0.5);
}

.Head {
    margin-bottom: 40px;
}


.toptitle {
    /*background-color: whitesmoke;*/
    background-color: white;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 22px;
}

.toptitle2 {
    /*  background-color: whitesmoke;*/
    background-color: white;
    margin-bottom: 20px;
    font-size: 14px;
    color: black;
    font-weight: bold;
}

.divbutton {
    margin-top: 20px;
    font-size: 16px;
}

.btnregister {
    width: 120px;
    height: 40px;
    background-color: rgb(245, 77, 133);
    color: whitesmoke;
    border-color: transparent;
    font-weight: bold;
    border-radius: 16px;
    cursor: pointer;
}

.text {
    width: 400px;
    height: 30px;
    /*background-color: whitesmoke;*/
    background-color: white;
    font-size: 14px;
    border-radius: 3px;
    border-color: transparent;
    display: flex;
}

.text2 {
    width: 200px;
    height: 20px;
    background-color: whitesmoke;
    padding:2px;
    font-size: 14px;
    border-bottom:1px solid black;
   /* border:1px solid dashed;*/
    border-radius: 5px;
    border-color: transparent;
    /*outline: none;*/
}


.img {
    margin: 5px;
    background-color: transparent;
    padding-left: 70px;
    margin-right: 10px;
    /* padding: 0 12px 0 12px; */
}

.detail {
    margin-right: 70px;
    font-size: 12px;
    color: rgb(107, 107, 107);
    font-weight: bold;
    margin-bottom:20px;
}

.detail2 {
    margin-right: 60px;
    font-size: 12px;
    color: rgb(107, 107, 107);
    font-weight: bold;
    margin-bottom:20px;
}

.textinput {
    text-align: center;
}

.login {
    width: 160px;
    height: 50px;
    background-color: #0292f4;
    border-radius: 20px;
    color: whitesmoke;
    border: transparent;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 20px;
    cursor: pointer;
}

.display {
    display: flex;
    justify-content: center;
    text-align:center;
    margin-bottom:20px;
}

.img2 {
   /* margin: 15px 10px 15px 15px;*/
    margin-right:5px;
    background-color: transparent;
}

.forgotspan {
    text-decoration: none;
    font-size: 14px;
    margin-right:20px;
}

.text3 {
    font-size: 14px;
    color: rgb(107, 107, 107);
    font-weight: bold;
}

.dashed {
    border: 0.5px solid rgb(194, 190, 190);
    margin-bottom: 15px;
}

.text4 {
    font-size: 14px;
    color: #ff5e7d;
    line-height: 26px;
    font-weight: bold;
}
.spanerrormessage {
     font-size: 14px;
     font-weight: bold;
     margin-left:10px;
}
.demobtnlogin{
   position:relative;
   
}
.democorrect {
   position:absolute;
    bottom: 20px;
    right: 100px;
    color: white;
    background-color: blue;
    border-radius: 20px;
    width: 40px;
}

.demoerror {
    position:absolute;
    bottom: 20px;
    right: 50px;
    color: white;
    background-color: red;
    border-radius: 20px;
    width: 40px;
}
.overclass{
    position: absolute;
    bottom: 20px;
    right: 0px;
    color: white;
    background-color:yellow;
    border-radius: 20px;
    width: 40px;
}
.spanresponseclass {
    color: red;
    font-weight: bold;
    font-size: 20px;
}
.g_id_signin {
    margin-left: 100px;
}
.googleline{
    display:flex;
    justify-items:center;
    text-align:center;
    margin-left:40px;
    
}
.googleclass{
   margin-right:35px;
}
.imgline{
    width:41px;
}
