@model prjMSIT145_Final.ViewModels.CACouponViewModel

@{
    ViewData["Title"] = "優惠券兌換";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}
@section Styles{    
    <link href="~/css/customer_css/cbsonlyclass.css" rel="stylesheet" />
    <style>
        .row{
            width:50%;
            margin:10px auto;
            /*border: 0.5px solid gray*/
            background-color:rgb(254,249,226);
            border-radius:15px;
        }

        .col-md-4{
            margin:10px auto;
            width:60%;
            text-align:center;
        }
        .col-md-4>hr{
            
            /*width:95%;*/
            margin:20px auto;
            border: 1px solid rgb(213,213,213)
        }
        #hr{
            margin:20px 0;

        }
        .col-md-4>div{
            margin:10px;            
        }
        
        .col-md-4 button{
            margin-top:10px;
        }

        #CouponCode{
             /*padding-right:30px;*/
        }
    </style>
}
@section Scripts{
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
}

<div class="row">
    <div class="col-md-4">
        
        <div class="form-group">
                <h3 asp-for="Account" class="control-label">優惠券兌換專區</h3>
        </div>
        <hr id="hr">
        <div class="form-group">
            <p class="control-label">請在下面輸入兌換代碼</p>
        </div>
        <div class="form-group" id="CouponCode">
                <input type="text" name="CouponCode" class="form-control" />
            <button class="btn btn-secondary">submit</button>
        </div>   
            
    </div>
    
</div>

