@model List<prjMSIT145_Final.ViewModel.COrderViewModel>

@{
    Layout = "_BusinessLayout";
    ViewData["Title"] = "BList";
}
@*<table class=" table table-dark table-striped text-center">*@
    <table class="table table-dark table-striped  text-center">
        <thead>
            <tr>
                <th class="col-1 align-middle">編號</th>
                <td class="col-4 align-middle">訂單號</td>
                <td class="col-2 align-middle">顧客名</td>
                <td class="col-2 align-middle">總價</td>
                <td class="col-3 align-middle"></td>

            </tr>
        </thead>
        <tbody class="text-center">
            @{
                int count = 0;
                foreach (var item in Model)
                {
                    count++;

                    <tr id="ListBar" data-bs-toggle="modal" data-bs-target="#detailModal" class="container" name="baritem">
                        <td id="Fid" hidden>@Html.DisplayFor(modelItem => item.Fid)</td>
                        <th class=" col-1 align-middle">#@count</th>
                        <td class="col-4 align-middle">@Html.DisplayFor(modelItem => item.OrderISerialId)</td>
                        <td class="col-2 align-middle">@Html.DisplayFor(modelItem => item.NmbName)</td>
                        <td class="col-2 align-middle">@Html.DisplayFor(modelItem => item.TotalAmount)</td>
                        <td class="col-3 align-middle">
                         
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>  <!-- Modal -->
    <div class="modal fade" id="detailModal" tabindex="-1" aria-labelledby="detailModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
            <div class="modal-content" id="Adiv">

                <div class="modal-header" id="AdivHeader">
                    @* <div class="container-fluid">
                    <div class="row">
                    <div class="col-md-2 text-nowrap">
                    <p class="p-0 m-0">客戶名稱</p>
                    <p class="p-0 m-0">訂單編號</p>
                    </div>
                    <div class="col-8"></div>
                    <div class="col-2">
                    <p class="p-0 m-0">取餐時間: 10:00</p>
                    <p class="p-0 m-0">餐點數量3</p>
                    </div>
                    </div>
                    </div>*@
                </div>
                <div class="modal-body">
                    <table class=" table table-striped" id="AdivBody">
                        @*<tr id="ListdetailBar container">
                        <th class="col-1 align-middle">2份</th>
                        <td class="col-7 align-middle">套餐A</td>
                        <td class="col-2 align-middle"></td>
                        <td class="col-2 align-middle">200TWD</td>
                        </tr>
                        <tr id="ListdetailBar container">
                        <th class="col-1 align-middle">1份</th>
                        <td class="col-7 align-middle">套餐B</td>
                        <td class="col-2 align-middle"></td>
                        <td class="col-2 align-middle">120TWD</td>
                        </tr>
                        <TFoot class="text-right">
                        <td class="col-11"></td>
                        <td class="col-2 text-end text-nowrap">一共3份</td>
                        <td class="col-1 text-end text-nowrap">小記:320TWD</td>
                        </TFoot>*@
                    </table>
                </div>
                <div class="modal-footer" id="AdivFooter">
                  @*  <button type="button" class="btn btn-primary">確認訂單</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>*@
                </div>
            </div>
        </div>
    </div>
    @section Scripts{
        <script>
            const selHeader = document.getElementById("AdivHeader");
            const selBody = document.getElementById("AdivBody");
            const selFooter = document.getElementById("AdivFooter");
            const selBar = document.getElementsByName("baritem");
            selBar.forEach(function (selBaritem) {
                selBaritem.addEventListener("click", function () {
                selHeader.innerHTML = "";
                selBody.innerHTML = "";
                loadDetail(this.children[0].innerHTML)
            })
            async function loadDetail(orderid) {
                    const response = await fetch(`@Url.Content("~/Order/BListDetailApi/?orderid=${orderid}")`)
                const datas = await response.json();
                    console.log(datas);
                datas.forEach(function (item, index) {
                    console.log(item);
                    //console.log(item.items);
                    const option = item.items;
                    selHeader.innerHTML = ` <div class="container-fluid">
                                                            <div class="row">
                                                                <div class="col-md-2 text-nowrap">
                                                                <p class="p-0 m-0">客戶名稱:${item.mbName}</p>
                                                                <p class="p-0 m-0">訂單編號:${item.orderISerialId}</p>
                                                                </div>
                                                                <div class="col-8"></div>
                                                                <div class="col-2">
                                                                <p class="p-0 m-0">取餐時間:${item.pickUpTime}</p>
                                                                <p class="p-0 m-0">餐點數量:${item.totalQty}</p>
                                                                </div>
                                                            </div>
                                                        </div>`;

                    option.forEach(function (optionitem, index) {
                        let optionitemName = "";
                        const optionDetail = optionitem.optionName;
                        optionDetail.forEach(function (optionDetailName, index) {
                            console.log(optionDetailName);
                            if (optionitemName == "") {
                                optionitemName += optionDetailName;
                            }
                            else {
                                optionitemName += "/" + optionDetailName;
                            }
                        });
                        //console.log(optionitem);
                        selBody.innerHTML += ` <tr id="ListdetailBar container">
                                                    <th class="col-1 align-middle">${optionitem.qty}份</th>
                                                    <td class="col-2 align-middle">${optionitem.productName}</td>
                                                                <td class="col-7 align-middle">${optionitemName}</td>
                                                    <td class="col-2 align-middle">${optionitem.optionAmount}TWD</td>
                                                </tr>`;
                    });
                    selBody.innerHTML += `<TFoot class="text-right">
                                                            <th class="col-1 align-middle"></th>
                                                            <td class="col-2 align-middle"></td>
                                                                        <td class="col-7 align-middle">備註:${item.Memo}</td>
                                                            <td class="col-2 align-middle">一共${item.totalQty}份 小記:${item.totalAmount}TWD</td>
                                                            </TFoot>`;
                });
            }
            });
        </script>
    }
