@model List<prjMSIT145_Final.ViewModels.VOrdersViewModel>
@{
    Layout = "_CustomerLayout";
    ViewData["Title"] = "CList";
}

@section Styles{
    <link href="~/css/Customer_css/COrderList.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/Customer_css/ShibaJump/style.css">
    <style>

    </style>
}

<div class="ShowOrderDisplay" id=app>
    @{
        foreach (var item in Model)
        {
            <mochi-box shiba="random" id="Order @item.Fid">
                <div class="timeDiv">
                    <div id="orderTime">@item.OrderTime</div>
                </div>
                <div class="column">
                    <div class="pic_Div">
                        <div class="pic">
                            <img src="~/images/Customer/Shopcard/Test/circlelogo.png" class="card-img-top" alt="..." />
                        </div>
                    </div>
                    <div class="">
                        <h4 class=" h4_margin">店家名稱 @item.BFid</h4>
                        <div class="topBorder">
                            <p class="">共 @Convert.ToInt32(item.TotalAmount) 元</p>
                        </div>
                    </div>
                </div>
                <div class="btnDiv" id="cartDelete">
                    <img src="~/images/Customer/Shopcard/Test/circlelogo.png" class="card-img-top" alt="..." />
                </div>
            </mochi-box>
        }
    }
</div>

@section Scripts{
    <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.min.js'></script>
    <script src="~/css/Customer_css/ShibaJump/script.js"></script>
    <script>

    </script>
}

