.mainDiv{
    position: relative;
    width: 45%;
    margin:10px auto;
    /* z-index: 0; */
}

.flexAndItemsCenter{
    width: 100%;
    display: flex;
    align-items: center;
}
h4,h5,h6{
    margin: 5px 0;
    color:#9F4E27;
}
.Fieldset{
    border-radius: 10px;
    color: gray;
    height:30px;
    margin: 10px 0;
    font-size: 10px;
    border:1px solid gray;
}
.spanFont{
    font-size: 10px;
}
.exclamation{
    box-sizing: border-box;
    height:20px;
    width:20px;
    border-radius: 50%;
    background-color: rgb(251, 86, 86);
    text-align: center;
    padding: 2px 0;
    margin-right: 15px;
}
.exclamationDiv{
    box-sizing: border-box;
    height:30px;
    background-color: rgb(253, 219, 224);
    border-radius: 10px;
    padding: 0 5px;
}