@section Styles{
}
@{
    Layout = "_BusinessLayout";
    ViewData["Title"] = "Blogin";
}

    <main class="form-signin ">
      <form method="post">
        <img class="mb-4 " src="@Url.Content("~/images/Customer/Mainpage/shibaLogo_row2.png")" alt="" width="500" height="200">
        <h1 class="h3 mb-3 fw-normal">商家登入</h1>

        <div class="form-floating">
            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" name="fEmail" value="">
          <label for="floatingInput">Email</label>
        </div>
        <div class="form-floating">
            <div id="divPassword" class="">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="fPassword" value="">
            <label for="floatingPassword" id="labPassWord" class="">密碼</label>
            </div>
           
            <button class="d-none"  id="btnNextstep">下一步</button>
        </div>

        <div class="checkbox mb-3">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <div class="container">
            <div class="row ">
            <button class=" btn btn-lg btn-primary col-5 p-2" id="btnLogin" type="submit">登入</button>
            <div class="col-1"></div>
             <button class=" btn btn-lg btn-primary  col-5  p-2" id="btnRegister" type="button">註冊</button>
            </div>
          
        </div>
      
        
      </form>
    </main>

@section Scripts{
 <script>
        const btnRegister = document.getElementById("btnRegister");
        const btnLogin    = document.getElementById("btnLogin");
        const PassWordInput = document.getElementById("divPassword");
        const btnNextstep = document.getElementById("btnNextstep");
        const emailinput = document.getElementById("floatingInput");

        btnRegister.addEventListener('click',function(){
            PassWordInput.setAttribute("class","d-none");
            btnLogin.setAttribute("type", "button");
            btnNextstep.setAttribute('class', "btn btn-lg btn-primary w-100");
            emailinput.setAttribute("name", 'fEmailRegister');



        });
        btnLogin.addEventListener('click',function(e){
            if (PassWordInput.className == "d-none")
            {
                PassWordInput.setAttribute("class", "");
                 btnNextstep.setAttribute('class', "d-none");
                emailinput.setAttribute("name", 'fEmail');

            }
            else
            {
             btnLogin.setAttribute("type", "submit");
            }

           
        });
       
        













 </script>

}




