<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - prjMSIT145_Final</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/prjMSIT145_Final.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">

    @await RenderSectionAsync("Styles", required: false)
</head>
<body>
    <header class="p-3 bg-dark text-white">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a href="#" class="nav-link px-2 text-white">Home</a></li>
                    <li><a href="#" class="nav-link px-2 text-white">類別</a></li>
                    <li><a href="#" class="nav-link px-2 text-white">點餐</a></li>
                    <li><a href="@Url.Content("~/AddMaterial/BList")" class="nav-link px-2 text-white">客製化群組</a></li>
                    <li><a href="#" class="nav-link px-2 text-white">保留</a></li>
                </ul>

                <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
                    <input type="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search">
                </form>

                <div class="text-end">
                    <button type="button" class="btn btn-outline-light me-2">登入</button>
                    <button type="button" class="btn btn-warning">註冊</button>
                </div>
            </div>
        </div>
    </header>
    <div class="container p-0 m-0">
        <div class="row p-0 m-0 ">
          @*側邊*@
            <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark vh-100 col-2 p-0 m-0">
      <button type="button" id="collapse" class="btn btn-info collapse-btn">
        <i class="fa-solid fa-align-left"></i>
      </button>
        
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
          <li class="nav-item">

             <a href="Order/BNewList" class="nav-link text-white" aria-current="page">
              <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"/></svg>
              新訂單
            </a>
          </li>
          <li>
            <a href="Order/BList" class="nav-link text-white">
              <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"/></svg>
              已接單
            </a>
          </li>
          <li>
            <a href="Order/BOldList" class="nav-link text-white">
              <svg class="bi me-2" width="16" height="16"><use xlink:href="#table"/></svg>
              歷史訂單
            </a>
          </li>
          
        </ul>
        <hr>
      </div>
            <div class="container col-10">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>

        </div>


    </div>
   

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - prjMSIT145_Final - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    
</body>
</html>
