<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>日柴Daily</title>
    <link rel="shortcut icon" href="~/images/Customer/shiba.ico" />
    <link href="~/css/Customer_css/CNavigation.css" rel="stylesheet" />
    <link href="~/css/Customer_css/CFooterstyle.css" rel="stylesheet" />
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/prjMSIT145_Final.styles.css" asp-append-version="true" />*@
    <style>
        * {
            margin: 0px;
            padding: 0px;
        }
    </style>
    @await RenderSectionAsync("Styles", required: false)
</head>
<body>
    <header class="Navigationbar_Index">
        <nav>
            <ul class="Navigationbar_Direct">
                <li><a asp-area="" asp-controller="Home" asp-action="Index">訂購</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="Index">購物車</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="Index">訂單</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="Index">兌換專區</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="Index">客服信箱</a></li>
            </ul>
        </nav>
        <a class="Navigationbar_Logo" asp-area="" asp-controller="Home" asp-action="Index"><img class="Navigationbar_Logo" src="~/images/Customer/Navigation/shibaLogo_row1.png" /></a>
        <nav>
            <ul class="Navigationbar_Member">
                <li><a asp-area="" asp-controller="CustomerMember" asp-action="Login"><img src="~/images/Customer/Navigation/person 32x32.png" /><p>&emsp;登入 / 註冊</p></a></li>
            </ul>
        </nav>
    </header>

    <main>
        @RenderBody()
    </main>

    <footer class="Copyright">
        <a asp-area="" asp-controller="Home" asp-action="Index"><img class="Footer_Logo" src="~/images/Customer/Navigation/shibaLogo_row1.png" /></a>
        <p><a asp-area="" asp-controller="Home" asp-action="Index">&copy;&ensp;2023&ensp;ShibaDaily&ensp;臺灣</a></p>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @*<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>*@
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
